.body_background 
{
    background-position: center;
    background-size:contain;
	background:url('grass.jpg');
}
#my_canvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}

